[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
prefect = "==2.0b5"
fastapi = "*"
uvicorn = "*"
evidently = "*"
pymongo = "*"
pytest = "*"

[dev-packages]
ipykernel = "*"
mlflow = "*"
pylint = "*"

[requires]
python_version = "3.9"
